Repository base-cms/base-cms, pull requests merged in 2019-10, with the labels that each got.

#179 Add missing TaxonomyType values
  packages/utils/src/get-default-taxonomy-types.js
  packages/utils/src/index.js
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/utils/criteria-for.js
Labels: service: graphql-server

#181 Add missing TaxonomyType enums and criteria (v1.x)
  packages/utils/src/get-default-taxonomy-types.js
  packages/utils/src/index.js
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/utils/criteria-for.js
Labels: service: graphql-server

#185 Website scheduled content sort
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#186 Add all-published-content RSS query
  packages/tenant-context/index.js
  services/rss/src/app.js
  services/rss/src/routes/all-published-content.js
  services/rss/src/routes/index.js
  services/rss/src/routes/website-scheduled-content.js
Labels: ⚙️ service: rss, 📦 package: tenant-context

#187 Add collation for proper sorting
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#189 Content `hasWebsiteSchedule` support
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#190 Add 2 column modifier to card-deck flow
  packages/marko-web-theme-default/scss/components/flows/_card-deck.scss
Labels: 📦 package: marko-web-theme-default

#192 Base4 REST API Client + Schedule Mutations
  docker-compose.yml
  multi-site.md
  packages/base4-rest-api/README.md
  packages/base4-rest-api/package.json
  packages/base4-rest-api/src/client.js
  packages/base4-rest-api/src/index.js
  packages/base4-rest-api/src/payload.js
  packages/db/src/basedb.js
  packages/db/src/paginate/find.js
  packages/db/src/paginate/limit.js
  packages/db/src/paginate/utils.js
  services/graphql-server/package.json
  services/graphql-server/src/create-rest-client.js
  services/graphql-server/src/dataloaders/index.js
  services/graphql-server/src/env.js
  services/graphql-server/src/graphql/definitions/email/index.js
  services/graphql-server/src/graphql/definitions/email/schedule.js
  services/graphql-server/src/graphql/definitions/magazine/index.js
  services/graphql-server/src/graphql/definitions/magazine/issue.js
  services/graphql-server/src/graphql/definitions/magazine/schedule.js
  services/graphql-server/src/graphql/definitions/magazine/section.js
  services/graphql-server/src/graphql/definitions/website/index.js
  services/graphql-server/src/graphql/definitions/website/option.js
  services/graphql-server/src/graphql/definitions/website/schedule.js
  services/graphql-server/src/graphql/definitions/website/section.js
  services/graphql-server/src/graphql/definitions/website/site.js
  services/graphql-server/src/graphql/resolvers/email/index.js
  services/graphql-server/src/graphql/resolvers/email/schedule.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/resolvers/magazine/index.js
  services/graphql-server/src/graphql/resolvers/magazine/issue.js
  services/graphql-server/src/graphql/resolvers/magazine/schedule.js
  services/graphql-server/src/graphql/resolvers/magazine/section.js
  services/graphql-server/src/graphql/resolvers/website/index.js
  services/graphql-server/src/graphql/resolvers/website/schedule.js
  services/graphql-server/src/graphql/resolvers/website/site.js
  services/graphql-server/src/graphql/utils/validate-rest.js
  services/graphql-server/src/routes/graphql.js
Labels: ⚙️ service: graphql-server, 📦 package: base4-rest-api, 📦 package: db

#193 Use Base4 API `uri` value instead of hostname
  packages/base4-rest-api/src/client.js
  services/graphql-server/src/create-rest-client.js
  services/graphql-server/src/routes/graphql.js
Labels: ⚙️ service: graphql-server, 📦 package: base4-rest-api

#194 Allow content to load regardless of site context
  services/graphql-server/src/graphql/definitions/platform/content/index.js
Labels: ⚙️ service: graphql-server

#195 Add primary category path to site path and canonical URL
  packages/canonical-path/src/platform/content.js
  packages/canonical-path/src/request-parser.js
  packages/graphql-fragment-types/build.js
  packages/graphql-fragment-types/types.json
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/primary-category.js
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/definitions/platform/content/types/product.js
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: canonical-path, 📦 package: graphql-fragment-types

#196 Update canonicalPath references to siteContext.path
  packages/db/src/utils/index.js
  packages/db/src/utils/iterate-cursor.js
  packages/db/utils.js
  packages/marko-web-gtm/components/context/content.marko
  packages/marko-web-gtm/components/context/dynamic-page.marko
  packages/marko-web-gtm/context/content.js
  packages/marko-web-gtm/context/dynamic-page.js
  packages/marko-web-native-x/utils/convert-ad-to-content.js
  packages/marko-web/components/element/object-link.js
  packages/marko-web/components/page/metadata/content.marko
  packages/marko-web/components/page/metadata/dynamic-page.marko
  packages/marko-web/middleware/with-content.js
  packages/marko-web/middleware/with-dynamic-page.js
  packages/web-common/src/gql/fragments/block-all-author-content.js
  packages/web-common/src/gql/fragments/block-all-company-content.js
  packages/web-common/src/gql/fragments/block-all-published-content.js
  packages/web-common/src/gql/fragments/block-magazine-scheduled-content.js
  packages/web-common/src/gql/fragments/block-published-related-content.js
  packages/web-common/src/gql/fragments/block-website-scheduled-content.js
  packages/web-common/src/gql/fragments/with-content.js
  packages/web-common/src/gql/fragments/with-dynamic-page.js
  services/example-website-bzb/server/api/fragments/content-list.js
  services/example-website-bzb/server/api/fragments/content-page.js
  services/example-website-bzb/server/components/nodes/content-list.marko
  services/example-website-lfw/server/api/fragments/content-contact-us.js
  services/example-website-lfw/server/api/fragments/content-list.js
  services/example-website-lfw/server/api/fragments/content-page.js
  services/example-website-lfw/server/components/nodes/contact-us-list.marko
  services/example-website-lfw/server/components/nodes/content-card.marko
  services/example-website-lfw/server/components/nodes/content-list.marko
  services/rss/src/api/content-fragment.js
  services/rss/src/utils/create-item.js
Labels: ⚙️ service: graphql-server, ⚙️ service: rss, 📦 package: canonical-path, 📦 package: db, 📦 package: marko-web, 📦 package: marko-web-gtm, 📦 package: marko-web-native-x, 📦 package: web-common

#198 Add excludeContentTypes and deprecate contentTypes
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#197 Website section related taxonomy
  packages/marko-core/components/queries/index.marko
  packages/marko-core/components/queries/marko.json
  packages/marko-core/components/queries/website-sections.marko
  packages/web-common/src/block-loaders/index.js
  packages/web-common/src/block-loaders/website-sections.js
  packages/web-common/src/gql/fragments/block-website-sections.js
  packages/web-common/src/gql/query-factories/block-website-sections.js
  packages/web-common/src/gql/query-factories/index.js
  services/graphql-server/src/graphql/definitions/website/section.js
Labels: ⚙️ service: graphql-server, 📦 package: marko-core, 📦 package: web-common

#199 Move deprecated input to comment
  services/graphql-server/src/graphql/definitions/platform/content/index.js
Labels: bug, ⚙️ service: graphql-server

#200 Add `Taxonomy.hierarchy` field
  multi-site.md
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/resolvers/platform/index.js
  services/graphql-server/src/graphql/resolvers/platform/taxonomy.js
Labels: ⚙️ service: graphql-server

#201 Create “smarter” taxonomies query
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/resolvers/platform/taxonomy.js
Labels: ⚙️ service: graphql-server

#202 Add suppression options to Taxonomy.fullName
  services/graphql-server/src/graphql/definitions/platform/taxonomy.js
  services/graphql-server/src/graphql/resolvers/platform/taxonomy.js
Labels: ⚙️ service: graphql-server

#203 Add GTM slot component
  packages/marko-web-gtm/components/marko.json
  packages/marko-web-gtm/components/slot.marko
  packages/marko-web-gtm/package.json
  packages/marko-web-gtm/scss/slot.scss
Labels: 📦 package: marko-web-gtm

#204 Hide empty GTM containers
  packages/marko-web-gtm/scss/slot.scss
Labels: 📦 package: marko-web-gtm

#205 Send GraphQL request context as MongoDB query comment
  .graphqlconfig
  packages/db/src/basedb.js
  packages/db/src/create-basedb.js
  packages/marko-web/express/index.js
  services/graphql-server/src/basedb.js
  services/graphql-server/src/routes/graphql.js
  services/rss/src/middleware/apollo.js
  services/sitemaps/src/middleware/apollo.js
Labels: ⚙️ service: graphql-server, ⚙️ service: rss, ⚙️ service: sitemaps, 📦 package: db, 📦 package: marko-web

#207 Add additional GraphQL company fields
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
Labels: ⚙️ service: graphql-server

#208 Create the Google Data API Service
  .travis.yml
  docker-compose.yml
  packages/micro/package.json
  packages/micro/src/service/json-errors.js
  packages/micro/src/service/json-service.js
  services/google-data-api/Dockerfile
  services/google-data-api/README.md
  services/google-data-api/newrelic.js
  services/google-data-api/package.json
  services/google-data-api/src/actions/index.js
  services/google-data-api/src/actions/youtube/channel-list.js
  services/google-data-api/src/actions/youtube/index.js
  services/google-data-api/src/actions/youtube/playlist-items.js
  services/google-data-api/src/constants.js
  services/google-data-api/src/env.js
  services/google-data-api/src/fetch.js
  services/google-data-api/src/index.js
  services/google-data-api/src/mongodb.js
  services/google-data-api/src/newrelic.js
  services/google-data-api/src/utils/build-youtube-url.js
  services/google-data-api/src/utils/index.js
  services/google-data-api/src/utils/on-error.js
  services/google-data-api/src/utils/sort-object.js
  yarn.lock
Labels: ⚙️ service: google-data-api, 📦 package: micro

#209 Add Youtube Videos support to GraphQL Server
  docker-compose.yml
  services/google-data-api/src/actions/youtube/playlist-items.js
  services/graphql-server/package.json
  services/graphql-server/src/env.js
  services/graphql-server/src/google-data-api-client.js
  services/graphql-server/src/graphql/definitions/google-data-api/index.js
  services/graphql-server/src/graphql/definitions/google-data-api/youtube.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/google-data-api/index.js
  services/graphql-server/src/graphql/resolvers/google-data-api/youtube.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#210 Fix micro peer dependency
  scripts/deploy.js
  services/graphql-server/package.json
Labels: ⚙️ service: graphql-server

#211 Add above-nav render slot to default theme header
  packages/marko-web-theme-default/components/site-header/index.marko
  packages/marko-web-theme-default/components/site-header/marko.json
Labels: 📦 package: marko-web-theme-default

#212 Ensure website has protocol prefix
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#213 Favor Youtube channelId over username
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#214 Add new icons
  packages/marko-web-icons/README.md
  packages/marko-web-icons/browser/filter-none.vue
  packages/marko-web-icons/browser/videocam.vue
  packages/marko-web-icons/svg/filter-none.svg
  packages/marko-web-icons/svg/videocam.svg
Labels: 📦 package: marko-web-icons

#216 Add the `warrantyInformation` field to GraphQL definitions
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
Labels: ⚙️ service: graphql-server

#217 Support excluding content types for company query
  packages/web-common/src/block-loaders/all-company-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: web-common

#218 Add service information to GraphQL server def
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
Labels: ⚙️ service: graphql-server

#219 Return youtube video urls, if set
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server
