Repository base-cms/base-cms, pull requests merged in 2019-12, with the labels that each got.

#262 Add size mapping data attribute to ad display
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/display-ad.marko
Labels: 📦 package: marko-web-gam

#263 Create GAM newsletters package
  packages/marko-newsletters-gam/.eslintignore
  packages/marko-newsletters-gam/components/display.marko
  packages/marko-newsletters-gam/components/marko.json
  packages/marko-newsletters-gam/config.js
  packages/marko-newsletters-gam/marko.json
  packages/marko-newsletters-gam/package.json
  packages/marko-newsletters-gam/utils/build-targeting.js
  packages/marko-newsletters-gam/utils/build-url.js
  services/example-newsletters-ien/components/elements/banner.marko
  services/example-newsletters-ien/config/gam.js
  services/example-newsletters-ien/package.json
  services/example-newsletters-ien/templates/ien-today.marko
Labels: 📦 package: marko-newsletters-gam

#264 Add company name to product metadata title
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/content.js
Labels: ⚙️ service: graphql-server

#265 Properly spread body and image input modifiers
  packages/marko-web/components/node/body.marko
  packages/marko-web/components/node/image-wrapper.marko
Labels: 📦 package: marko-web

#266 Only include env targeting value when requested
  packages/marko-web-gam/components/enable.marko
Labels: 📦 package: marko-web-gam

#267 Add support for out-of-page slots in ad definition
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gam/utils/build-slots.js
Labels: 📦 package: marko-web-gam

#268 Set website section description element as HTML
  packages/marko-web/components/element/website-section/description.marko
Labels: 📦 package: marko-web

#269 Remove leading and trailing slashes from section aliases
  packages/marko-web/middleware/with-website-section.js
Labels: 📦 package: marko-web

#270 Format embedded content body document tags
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/embedded-document-tags.js
Labels: ⚙️ service: graphql-server

#271 Add support for wrapping entire document body
  packages/marko-web/components/document/components/body-wrapper.marko
  packages/marko-web/components/document/index.marko
  packages/marko-web/components/document/marko.json
  packages/marko-web/express/index.js
Labels: 📦 package: marko-web

#272 Reduce size of embedded images when not full
  services/graphql-server/src/graphql/utils/embedded-image-tags.js
Labels: ⚙️ service: graphql-server

#273 Add AssetImage.body field
  services/graphql-server/src/graphql/definitions/platform/asset.js
Labels: ⚙️ service: graphql-server

#274 Add browser component inner content rendering
  packages/marko-web/components/browser-component.marko
Labels: 📦 package: marko-web

#275 Create GTM track bus event components
  packages/marko-web-gtm/browser/index.js
  packages/marko-web-gtm/browser/track-bus-event.vue
  packages/marko-web-gtm/browser/track-in-view-event.vue
  packages/marko-web-gtm/components/marko.json
  packages/marko-web-gtm/components/track-bus-event.marko
Labels: 📦 package: marko-web-gtm

#276 Add mutation to create images from a url
  packages/base4-rest-api/src/client.js
  services/graphql-server/src/graphql/definitions/platform/asset.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
Labels: ⚙️ service: graphql-server, 📦 package: base4-rest-api

#279 Filter out nav items with missing href values
  packages/marko-web-theme-default/components/site-navbar/utils/get-nav-items.js
Labels: 📦 package: marko-web-theme-default

#277 Add mutation to update AssetImage fields
  services/graphql-server/src/graphql/definitions/platform/asset.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
  services/graphql-server/src/graphql/utils/build-projection.js
Labels: ⚙️ service: graphql-server

#278 Add mutation to update company fields
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#280 Theme word break and Lazarus grid updates
  packages/marko-web-theme-default/scss/_mixins.scss
  packages/marko-web-theme-default/skins/lazarus/components/_page-grid.scss
  packages/marko-web-theme-default/skins/lazarus/skin.scss
Labels: 📦 package: marko-web-theme-default

#281 Pass input down to magazine cards from publication
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/components/latest-issue.marko
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/index.marko
  packages/marko-web-theme-default/components/blocks/marko.json
Labels: 📦 package: marko-web-theme-default

#243 Add marko-web plugin package for IdentityX
  packages/marko-web-identity-x/.eslintignore
  packages/marko-web-identity-x/.eslintrc.js
  packages/marko-web-identity-x/README.md
  packages/marko-web-identity-x/api/queries/check-content-access.js
  packages/marko-web-identity-x/api/queries/get-active-context.js
  packages/marko-web-identity-x/api/queries/get-active-user.js
  packages/marko-web-identity-x/browser/.eslintrc.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/errors/authentication.js
  packages/marko-web-identity-x/browser/errors/feature.js
  packages/marko-web-identity-x/browser/errors/form.js
  packages/marko-web-identity-x/browser/errors/logout.js
  packages/marko-web-identity-x/browser/form.vue
  packages/marko-web-identity-x/browser/form/common/form-group.vue
  packages/marko-web-identity-x/browser/form/fields/email.vue
  packages/marko-web-identity-x/browser/form/fields/family-name.vue
  packages/marko-web-identity-x/browser/form/fields/given-name.vue
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/browser/logout.vue
  packages/marko-web-identity-x/browser/utils/clean-path.js
  packages/marko-web-identity-x/browser/utils/cookies-enabled.js
  packages/marko-web-identity-x/browser/utils/get-referring-page.js
  packages/marko-web-identity-x/browser/utils/post.js
  packages/marko-web-identity-x/browser/utils/redirect.js
  packages/marko-web-identity-x/components/access.marko
  packages/marko-web-identity-x/components/context.marko
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-logout.marko
  packages/marko-web-identity-x/components/form-register.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/index.js
  packages/marko-web-identity-x/marko.json
  packages/marko-web-identity-x/middleware.js
  packages/marko-web-identity-x/package.json
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/routes/index.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/logout.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-identity-x/utils/create-client.js
  packages/marko-web-identity-x/utils/json-error-handler.js
  packages/marko-web-identity-x/utils/token-cookie.js
Labels: 📦 package: identity-x, 📦 package: marko-web-identity-x

#283 Organization, Org Title, and Country Handling
  packages/marko-web-identity-x/browser/form.vue
  packages/marko-web-identity-x/browser/form/fields/country.vue
  packages/marko-web-identity-x/browser/form/fields/organization-title.vue
  packages/marko-web-identity-x/browser/form/fields/organization.vue
  packages/marko-web-identity-x/browser/utils/get.js
  packages/marko-web-identity-x/routes/countries.js
  packages/marko-web-identity-x/routes/index.js
  packages/marko-web-identity-x/routes/login.js
Labels: 📦 package: marko-web-identity-x

#282 Support advanced querying for WebsiteSite.sections
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/definitions/website/section.js
  services/graphql-server/src/graphql/definitions/website/site.js
  services/graphql-server/src/graphql/directives/ref-many.js
  services/graphql-server/src/graphql/query-builders/website-sections.js
  services/graphql-server/src/graphql/ref-query-builders/index.js
  services/graphql-server/src/graphql/ref-query-builders/website-site-sections.js
Labels: ⚙️ service: graphql-server

#284 Add WebsiteSection create/update mutations
  services/graphql-server/src/graphql/definitions/website/section.js
  services/graphql-server/src/graphql/resolvers/website/section.js
Labels: ⚙️ service: graphql-server

#286 Contact mutations
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/definitions/platform/content/types/contact.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#287 Ensure all page dates use same font values
  packages/marko-web-theme-default/scss/components/_page-dates.scss
Labels: 📦 package: marko-web-theme-default

#288 Globally set embedded image “max width” to 1440
  services/graphql-server/src/graphql/utils/embedded-image-tags.js
Labels: ⚙️ service: graphql-server

#289 Add Gemenon stack
  docker-compose.yml
  services/hooks/src/basedb/gemenon.js
  services/hooks/src/basedb/index.js
  services/hooks/src/env.js
  services/hooks/src/services.js
Labels: ⚙️ service: hooks

#290 Add default `bg` value of white for logo images
  packages/image/src/build-imgix-url.js
Labels: 📦 package: image

#291 Ensure redirect and query params input are merged
  services/graphql-server/src/graphql/resolvers/website/site.js
Labels: bug, ⚙️ service: graphql-server

#292 Add primary site/section to contact create
  services/graphql-server/src/graphql/definitions/platform/content/types/contact.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#293 Add ability to force nav label when an icon is set
  packages/marko-web-theme-default/components/site-navbar/item.marko
  packages/marko-web-theme-default/components/site-navbar/items.marko
  packages/marko-web-theme-default/scss/components/_site-navbar.scss
Labels: 📦 package: marko-web-theme-default
