Repository base-cms/base-cms, pull requests merged in 2019-08, with the labels that each got.

#142 Rework CMS GTM components
  packages/marko-web/src/components/gtm/container-push.marko
  packages/marko-web/src/components/gtm/container-start.marko
  packages/marko-web/src/components/gtm/container.marko
  packages/marko-web/src/components/gtm/marko.json
  services/marko-example-website/server/templates/content/components/layout.marko
  services/marko-example-website/server/templates/dynamic-page/components/layout.marko
  services/marko-example-website/server/templates/error.marko
  services/marko-example-website/server/templates/index.marko
  services/marko-example-website/server/templates/website-section/components/layout.marko
Labels: package: marko-web

#143 Create OEmbed service; move parsing to marko-web
  .travis.yml
  docker-compose.yml
  packages/embedded-media/package.json
  packages/embedded-media/src/constants.js
  packages/embedded-media/src/extract.js
  packages/embedded-media/src/factories/manager.js
  packages/embedded-media/src/index.js
  packages/embedded-media/src/parser.js
  packages/embedded-media/src/tag.js
  packages/embedded-media/src/tags/abstract-tag.js
  packages/embedded-media/src/tags/image-asset.js
  packages/embedded-media/src/tags/oembed.js
  packages/embedded-media/src/utils/create-attribute.js
  packages/embedded-media/src/utils/extract-attributes.js
  packages/embedded-media/src/utils/get-tag-matches.js
  packages/embedded-media/src/utils/tag-match-pattern.js
  packages/marko-web/browser/.eslintrc.js
  packages/marko-web/browser/components/gtm-track-in-view-event.vue
  packages/marko-web/browser/components/index.js
  packages/marko-web/browser/components/load-more-button.vue
  packages/marko-web/browser/components/oembed.vue
  packages/marko-web/package.json
  packages/marko-web/src/components/elements/content/body.marko
  packages/marko-web/src/express/index.js
  packages/marko-web/src/express/oembed.js
  packages/marko-web/src/utils/embedded-media/image.js
  packages/marko-web/src/utils/embedded-media/index.js
  packages/marko-web/src/utils/embedded-media/oembed.js
  scripts/deploy.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/embedded-image-tags.js
  services/marko-example-website/server/routes/content.js
  services/oembed/.eslintrc.js
  services/oembed/Dockerfile
  services/oembed/README.md
  services/oembed/gulpfile.js
  services/oembed/newrelic.js
  services/oembed/package.json
  services/oembed/src/app.js
  services/oembed/src/embedly.js
  services/oembed/src/env.js
  services/oembed/src/index.js
  services/oembed/src/newrelic.js
  yarn.lock
Labels: package: embedded-media, package: marko-web, service: graphql-server, service: oembed

#144 Add additional oembed data attributes
  packages/marko-web/browser/components/oembed.vue
Labels: package: marko-web

#145 Remove deprecations
  packages/embedded-media/src/constants.js
  packages/embedded-media/src/factories/manager.js
  packages/embedded-media/src/index.js
  packages/embedded-media/src/parser.js
  packages/embedded-media/src/tags/abstract-tag.js
  packages/embedded-media/src/tags/image-asset.js
  packages/embedded-media/src/tags/oembed.js
  packages/marko-web/src/components/gtm/container.marko
  packages/marko-web/src/components/gtm/marko.json
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/inquirable.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/inquiry-contacts.js
  services/marko-example-website/server/routes/content.js
Labels: package: embedded-media, package: marko-web, service: graphql-server

#146 Remove oembed-parser dependency
  packages/embedded-media/package.json
  yarn.lock
Labels: package: embedded-media

#147 Sets the default fetch credentials to `same-origin`
  packages/marko-web/browser/components/oembed.vue
Labels: package: marko-web

#149 Ensure load more infinitely scrolls by default
  packages/marko-web/browser/components/load-more-button.vue
Labels: package: marko-web

#150 Use date locale and format from core config
  packages/marko-web/src/components/elements/core/date.marko
  packages/marko-web/src/config/core.js
Labels: package: marko-web

#151 Create content sidebars element
  packages/marko-web/src/components/elements/content/marko.json
  packages/marko-web/src/components/elements/content/sidebars.marko
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/article.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/marko-example-website/server/routes/content.js
  services/marko-example-website/server/templates/content/index.marko
Labels: package: marko-web, service: graphql-server

#157 Add pagination input to spaces query
  services/graphql-server/src/graphql/definitions/platform/content/types/venue.js
Labels: service: graphql-server

#158 Add websiteExpiringContent query and content.websiteSchedules
  services/graphql-server/build-section-query.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/types/date.js
  services/graphql-server/src/graphql/utils/indexes.js
Labels: service: graphql-server
