Repository base-cms/base-cms, pull requests merged in 2019-11, with the labels that each got.

#221 Add content-embed-code node element
  packages/marko-web-theme-default/scss/components/_node.scss
Labels: 📦 package: marko-web-theme-default

#222 Float logos right instead of left to prevent weird wrapping
  packages/marko-web-theme-default/scss/components/_page-image.scss
Labels: 📦 package: marko-web-theme-default

#223 Add sort param to website-scheduled-content loader
  packages/web-common/src/block-loaders/website-scheduled-content.js
Labels: 📦 package: web-common

#224 Add `labels` to root Content interface
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
Labels: ⚙️ service: graphql-server

#225 Support preview-mode as a query param
  packages/marko-web/middleware/with-content.js
Labels: 📦 package: marko-web

#226 Add dynamic import support for Vue components
  package.json
  packages/marko-web-gam/browser/.eslintrc.js
  packages/marko-web-gam/browser/index.js
  packages/marko-web-gcse/browser/.eslintrc.js
  packages/marko-web-gcse/browser/index.js
  packages/marko-web-reveal-ad/browser/.eslintrc.js
  packages/marko-web-reveal-ad/browser/index.js
  packages/marko-web-theme-default/browser/.eslintrc.js
  packages/marko-web-theme-default/browser/index.js
  packages/marko-web/browser/.eslintrc.js
  packages/marko-web/browser/components/index.js
  packages/marko-web/config/asset-manifest.js
  packages/marko-web/config/core.js
  packages/web-cli/package.json
  packages/web-cli/src/gulp/js.js
  packages/web-cli/src/gulp/manifest.js
  yarn.lock
Labels: 📦 package: marko-web, 📦 package: marko-web-gam, 📦 package: marko-web-gcse, 📦 package: marko-web-reveal-ad, 📦 package: marko-web-theme-default, 📦 package: web-cli

#227 Add Apollo GraphQL support to client-side Vue components
  packages/express-apollo/src/create-client.js
  packages/graphql-fragment-types/fragment-matcher.js
  packages/graphql-fragment-types/package.json
  packages/graphql-fragment-types/src/fragment-matcher.js
  packages/marko-web/browser/apollo.js
  packages/marko-web/browser/index.js
  packages/marko-web/browser/vue.js
  packages/marko-web/express/graphql-proxy.js
  packages/marko-web/express/index.js
  packages/marko-web/package.json
Labels: 📦 package: express-apollo, 📦 package: graphql-fragment-types, 📦 package: marko-web

#228 Update plugins to use new component registration
  packages/marko-web-gam/browser/index.js
  packages/marko-web-gcse/browser/index.js
  packages/marko-web-gtm/browser/index.js
  packages/marko-web-reveal-ad/browser/index.js
  packages/marko-web-theme-default/browser/index.js
  packages/web-cli/src/generator/templates/core/browser/index.js
Labels: 📦 package: marko-web-gam, 📦 package: marko-web-gcse, 📦 package: marko-web-gtm, 📦 package: marko-web-reveal-ad, 📦 package: marko-web-theme-default

#230 Ensure content page queries respect primary site
  multi-site.md
  packages/marko-web/refactor-notes.md
  services/graphql-server/src/graphql/definitions/platform/content/types/page.js
Labels: ⚙️ service: graphql-server

#231 Allow contextual flag to be forced
  packages/leaders-program/src/components/leaders.vue
Labels: 📦 package: leaders-program

#232 v1x deployment updates
  .graphqlconfig
  scripts/deploy-k8s.sh
  scripts/deploy-notify-start.sh
  scripts/deploy-notify.sh
Labels: deployments

#233 Update v0.x deployment command
  scripts/deploy-k8s.sh
Labels: deployments

#234 NewRelic error logging
  services/google-data-api/src/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/index.js
  services/hooks/src/index.js
  services/oembed/src/index.js
  services/rss/src/index.js
  services/sitemaps/src/index.js
Labels: ⚙️ service: google-data-api, ⚙️ service: graphql-server, ⚙️ service: hooks, ⚙️ service: oembed, ⚙️ service: rss, ⚙️ service: sitemaps

#237 Event handling for Leaders Program
  packages/marko-web-leaders/browser/index.js
  packages/marko-web/browser/index.js
Labels: 📦 package: marko-web, 📦 package: marko-web-leaders

#238 Add (proper) newsletter multi-site support
  docker-compose.yml
  packages/express-apollo/src/create-client.js
  packages/marko-core/components/elements/marko.json
  packages/marko-core/middleware/clean-marko-response.js
  packages/marko-newsletters-mc/components/marko.json
  packages/marko-newsletters-mc/components/open-counter.marko
  packages/marko-newsletters-mc/marko.json
  packages/marko-newsletters-mc/package.json
  packages/marko-newsletters/admin/components/document.marko
  packages/marko-newsletters/admin/components/page-title.marko
  packages/marko-newsletters/admin/templates/index.marko
  packages/marko-newsletters/components/imgix.marko
  packages/marko-newsletters/config/core.js
  packages/marko-newsletters/express/apollo.js
  packages/marko-newsletters/express/index.js
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/express/website-context.js
  packages/marko-newsletters/package.json
  packages/marko-newsletters/start-server.js
  packages/marko-newsletters/utils/map-templates.js
  packages/marko-newsletters/utils/website-factory.js
  packages/newsletter-cli/src/gulp/server.js
  packages/web-common/graphql/website-context-fragment.js
  packages/web-common/src/gql/fragments/block-newsletter-scheduled-content.js
  packages/web-common/website-context.js
  services/example-newsletters-ien/components/blocks/header/index.marko
  services/example-newsletters-ien/package.json
  services/example-newsletters-ien/templates/ien-today.marko
  services/example-newsletters-ien/templates/ien-update.marko
Labels: 📦 package: express-apollo, 📦 package: marko-core, 📦 package: marko-newsletters, 📦 package: web-common

#240 Add ad container inner wrapper, fluid page images & image options
  packages/marko-web-gam/components/ad-wrapper.marko
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/display-ad.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-theme-default/scss/_mixins.scss
  packages/marko-web-theme-default/scss/components/_page-image.scss
  packages/marko-web/components/page/image.marko
  packages/marko-web/components/page/marko.json
Labels: 📦 package: marko-web, 📦 package: marko-web-gam, 📦 package: marko-web-theme-default

#247 Adjust breakpoints for inline images
  packages/marko-web-theme-default/scss/components/_page-image.scss
Labels: 📦 package: marko-web-theme-default

#249 Create root newsletter html component
  packages/marko-newsletters/components/marko.json
  packages/marko-newsletters/components/root.marko
  packages/marko-newsletters/utils/map-templates.js
Labels: 📦 package: marko-newsletters

#250 User authentication for the GraphQL API
  docker-compose.yml
  services/graphql-server/package.json
  services/graphql-server/src/auth-context/context.js
  services/graphql-server/src/auth-context/create.js
  services/graphql-server/src/env.js
  services/graphql-server/src/graphql/definitions/auth.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/definitions/platform/security.js
  services/graphql-server/src/graphql/directives/index.js
  services/graphql-server/src/graphql/directives/requires-auth.js
  services/graphql-server/src/graphql/resolvers/auth/index.js
  services/graphql-server/src/graphql/resolvers/auth/user.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/resolvers/platform/index.js
  services/graphql-server/src/graphql/resolvers/platform/security.js
  services/graphql-server/src/graphql/utils/indexes.js
  services/graphql-server/src/routes/graphql.js
  services/graphql-server/src/user/create.js
  services/graphql-server/src/user/token-service.js
  services/graphql-server/src/user/user-service.js
  yarn.lock
Labels: ⚙️ service: graphql-server

#251 Add github-release-notes package
  packages/github-release-notes/.eslintrc.js
  packages/github-release-notes/README.md
  packages/github-release-notes/bin/between.js
  packages/github-release-notes/bin/release.js
  packages/github-release-notes/package.json
  packages/github-release-notes/src/between.js
  packages/github-release-notes/src/codename.js
  packages/github-release-notes/src/env.js
  packages/github-release-notes/src/index.js
  packages/github-release-notes/src/octokit.js
  packages/github-release-notes/src/sources.js
  yarn.lock
Labels: 📦 package: github-release-notes

#252 Allow Sitemaps / Google News input variables via headers
  packages/marko-web/express/index.js
  packages/marko-web/start-server.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/sitemaps/src/routes/google-news.js
Labels: ⚙️ service: graphql-server, ⚙️ service: sitemaps, 📦 package: marko-web

#254 Add `attrs` input support to GAM ad components
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/display-ad.marko
  packages/marko-web-gam/components/marko.json
Labels: 📦 package: marko-web-gam

#255 Register load more middleware after onStart hook
  packages/marko-web/express/index.js
  packages/marko-web/start-server.js
Labels: 📦 package: marko-web

#256 Add the newsletter deployment tool
  packages/newsletter-deployment-tool/.eslintrc.js
  packages/newsletter-deployment-tool/README.md
  packages/newsletter-deployment-tool/package.json
  packages/newsletter-deployment-tool/src/commands/deploy/deploy.js
  packages/newsletter-deployment-tool/src/commands/deploy/env.js
  packages/newsletter-deployment-tool/src/commands/deploy/index.js
  packages/newsletter-deployment-tool/src/commands/index.js
  packages/newsletter-deployment-tool/src/commands/notify/env.js
  packages/newsletter-deployment-tool/src/commands/notify/failed.js
  packages/newsletter-deployment-tool/src/commands/notify/finished.js
  packages/newsletter-deployment-tool/src/commands/notify/index.js
  packages/newsletter-deployment-tool/src/commands/notify/notify.js
  packages/newsletter-deployment-tool/src/commands/notify/started.js
  packages/newsletter-deployment-tool/src/index.js
  packages/newsletter-deployment-tool/templates/.travis.yml
  packages/newsletter-deployment-tool/templates/Dockerfile
  yarn.lock
Labels: 📦 package: newsletter-deployment-tool

#257 Put a helmet on the newsletter server ⛑️
  packages/marko-newsletters/express/index.js
  packages/marko-newsletters/package.json
Labels: 📦 package: marko-newsletters

#259 Add WebsiteSection.labels field
  services/graphql-server/src/graphql/definitions/website/section.js
Labels: ⚙️ service: graphql-server

#260 Do not enforce sticky ads in page grid left-rail
  packages/marko-web-theme-default/skins/lazarus/components/_page-grid.scss
Labels: 📦 package: marko-web-theme-default

#261 Add inner contents render and support ad slot collapse
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/display-ad.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gam/package.json
  packages/marko-web-gam/utils/build-slots.js
Labels: 📦 package: marko-web-gam
