Repository base-cms/base-cms, pull requests merged in 2019-07, with the labels that each got.

#117 Inquiry support
  packages/utils/src/content-types.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/inquirable.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/organization-contactable.js
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/definitions/platform/content/types/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/product.js
  services/graphql-server/src/graphql/definitions/platform/content/types/supplier.js
  services/graphql-server/src/graphql/definitions/platform/content/types/venue.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/inquiry-contacts.js
Labels: service: graphql-server

#120 Update GraphQL fragment types
  packages/graphql-fragment-types/types.json
  services/graphql-server/README.md
  services/graphql-server/src/routes/graphql.js
Labels: service: graphql-server

#122 Add Space model and inverse query on Venue
  packages/graphql-fragment-types/types.json
  packages/utils/src/content-types.js
  services/graphql-server/README.md
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/space.js
  services/graphql-server/src/graphql/definitions/platform/content/types/top-list.js
  services/graphql-server/src/graphql/definitions/platform/content/types/venue.js
  services/graphql-server/src/graphql/utils/indexes.js
Labels: package: graphql-fragment-types, service: graphql-server

#123 Actually support natural sort
  packages/db/src/paginate/find.js
  packages/db/src/paginate/sort.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/types/venue.js
  services/graphql-server/src/graphql/directives/ref-many.js
Labels: package: db, service: graphql-server

#124 Inverse reference sorting
  packages/db/src/create-basedb.js
  services/graphql-server/src/graphql/definitions/platform/content/types/venue.js
  services/graphql-server/src/graphql/directives/ref-many.js
Labels: bug, package: db, service: graphql-server

#125 Do not return wrapping <html> tag with image
  packages/embedded-media/src/tags/image-asset.js
Labels: bug, package: embedded-media

#126 Fix embedded image parsing
  docker-compose.yml
  packages/embedded-media/src/tags/image-asset.js
  services/graphql-server/src/env.js
Labels: bug, package: embedded-media

#127 Add HTML entities utility and clean embedded image alt tag
  packages/embedded-media/package.json
  packages/embedded-media/src/tags/image-asset.js
  packages/html/package.json
  packages/html/src/html-entities.js
  packages/html/src/index.js
  yarn.lock
Labels: package: embedded-media, package: html

#128 Image caption handling
  packages/embedded-media/package.json
  packages/embedded-media/src/tags/image-asset.js
  packages/image/package.json
  packages/image/src/create-alt-for.js
  packages/image/src/create-caption-for.js
  packages/image/src/index.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
Labels: package: embedded-media, package: image, service: graphql-server

#129 Add additional Imgix URL parameters
  packages/image/src/build-imgix-url.js
Labels: package: image

#130 Use `<span>` tag for embedded elements
  packages/embedded-media/src/constants.js
Labels: package: embedded-media

#131 Adds a mutation for storing inquiry submission
  packages/db/src/basedb.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/definitions/website/index.js
  services/graphql-server/src/graphql/definitions/website/inquiry-submission.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/resolvers/website/index.js
  services/graphql-server/src/graphql/resolvers/website/inquiry-submission.js
Labels: package: db, service: graphql-server

#132 Deprecate leadsDelivery, update inquiry contacts
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/inquirable.js
  services/graphql-server/src/graphql/utils/inquiry-contacts.js
Labels: service: graphql-server

#133 Add related content indices; increase logging depth
  packages/db/src/create-basedb.js
  services/graphql-server/src/graphql/utils/indexes.js
Labels: package: db, service: graphql-server

#134 Add "optioned content" query, aka "pinned content" with fallback
  packages/marko-web/src/components/queries/components/loader-multi.marko
  packages/marko-web/src/components/queries/components/loader-single.marko
  packages/marko-web/src/components/queries/marko.json
  packages/marko-web/src/components/queries/website-optioned-content.marko
  packages/web-common/src/block-loaders/index.js
  packages/web-common/src/block-loaders/website-optioned-content.js
Labels: package: marko-web, package: web-common

#135 Ensure reduction has a default value
  services/graphql-server/src/graphql/resolvers/website/inquiry-submission.js
Labels: bug, service: graphql-server

#136 Return contacts regardless of status/publicEmail
  services/graphql-server/src/graphql/utils/inquiry-contacts.js
Labels: bug, service: graphql-server

#137 Add inquiryEmails field to Inquirable interface
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/inquirable.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
  services/graphql-server/src/graphql/utils/inquiry-emails.js
Labels: service: graphql-server

#140 oEmbed Error Handling
  packages/embedded-media/src/tags/oembed.js
Labels: bug, package: embedded-media
