Repository base-cms/base-cms, pull requests merged in 2020-03, with the labels that each got.

#365 Disable Youtube Video lookup
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#367 Youtube updates
  services/google-data-api/src/actions/youtube/index.js
  services/google-data-api/src/actions/youtube/playlist-list.js
  services/graphql-server/src/graphql/definitions/google-data-api/youtube.js
  services/graphql-server/src/graphql/resolvers/google-data-api/youtube.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: google-data-api, ⚙️ service: graphql-server

#369 Add additional padding arg to navbar height function
  packages/marko-web-theme-default/scss/_functions.scss
Labels: 📦 package: marko-web-theme-default

#370 Add runtime options to embedded media
  packages/marko-web/components/element/content/body.marko
  packages/marko-web/components/element/content/marko.json
  packages/marko-web/express/embedded-media.js
  packages/marko-web/utils/embedded-media/image.js
Labels: 📦 package: marko-web

#373 Add consent policy to all forms
  packages/marko-web-identity-x/api/queries/get-active-context.js
  packages/marko-web-identity-x/browser/.eslintrc.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
Labels: 📦 package: marko-web-identity-x

#372 Add Mic & Apple Podcast icons
  packages/marko-web-icons/browser/applepodcasts.vue
  packages/marko-web-icons/browser/mic.vue
  packages/marko-web-icons/scss/_variables.scss
  packages/marko-web-icons/svg/applepodcasts.svg
  packages/marko-web-icons/svg/mic.svg
Labels: 📦 package: marko-web-icons

#368 Support querying + modifying Icarus theme config
  packages/db/src/basedb.js
  services/graphql-server/src/graphql/definitions/configuration/index.js
  services/graphql-server/src/graphql/definitions/configuration/theme.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/resolvers/configuration/index.js
  services/graphql-server/src/graphql/resolvers/configuration/theme.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/utils/criteria-for.js
Labels: ⚙️ service: graphql-server, 📦 package: db

#375 Add support for querying and updating Brevity\Issue
  packages/db/src/basedb.js
  services/graphql-server/src/graphql/definitions/brevity/asset.js
  services/graphql-server/src/graphql/definitions/brevity/author.js
  services/graphql-server/src/graphql/definitions/brevity/collection.js
  services/graphql-server/src/graphql/definitions/brevity/index.js
  services/graphql-server/src/graphql/definitions/brevity/issue.js
  services/graphql-server/src/graphql/definitions/brevity/story.js
  services/graphql-server/src/graphql/definitions/index.js
  services/graphql-server/src/graphql/ref-query-builders/brevity-collection-issues.js
  services/graphql-server/src/graphql/ref-query-builders/index.js
  services/graphql-server/src/graphql/resolvers/brevity/asset.js
  services/graphql-server/src/graphql/resolvers/brevity/index.js
  services/graphql-server/src/graphql/resolvers/brevity/issue.js
  services/graphql-server/src/graphql/resolvers/index.js
  services/graphql-server/src/graphql/utils/criteria-for.js
Labels: ⚙️ service: graphql-server, 📦 package: db

#374 Add `after` input option to `allPublishedContent` and `publishedContentCounts` queries
  packages/utils/src/get-published-content-criteria.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/query-builders/published-content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: utils

#377 Move title inside name span to prevent space
  packages/leaders-program/src/components/card/blocks/key-executive.vue
Labels: 📦 package: leaders-program

#376 Format date at beginning of export filename
  packages/export-framework/express/output-headers.js
Labels: 📦 package: export-framework

#379 Create commenting components
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/browser/comments/create.vue
  packages/marko-web-identity-x/browser/comments/post.vue
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/form/fields/comment-body.vue
  packages/marko-web-identity-x/browser/form/fields/display-name.vue
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/package.json
  packages/marko-web-identity-x/routes/comments.js
  packages/marko-web-identity-x/routes/create-comment.js
  packages/marko-web-identity-x/routes/flag-comment.js
  packages/marko-web-identity-x/routes/index.js
  services/example-website-lfw/server/api/fragments/content-page.js
  services/example-website-lfw/server/styles/identity-x.scss
  services/example-website-lfw/server/styles/index.scss
  services/example-website-lfw/server/templates/content/index.marko
Labels: 📦 package: marko-web-identity-x

#380 Add support for multiple option input on website schedule queries
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#381 Properly check for option name length
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: bug, ⚙️ service: graphql-server

#383 Add `requiresCoverImage` input to publication block
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/index.marko
Labels: 📦 package: marko-web-theme-default

#384 Add `excludeContentIds` to `allPublishedContent`
  packages/web-common/src/block-loaders/all-published-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: web-common

#386 Ensure listener (optionally) displays ad on all elements
  packages/marko-web-reveal-ad/browser/listener.vue
  packages/marko-web-reveal-ad/components/listener.marko
  packages/marko-web-reveal-ad/components/marko.json
Labels: 📦 package: marko-web-reveal-ad

#387 Leaders card content limits
  packages/leaders-program/src/components/containers/section-wrapper.vue
  packages/leaders-program/src/components/containers/section.vue
  packages/leaders-program/src/components/leaders.vue
  packages/leaders-program/src/graphql/queries/content-for-section.js
  packages/leaders-program/src/graphql/section-content-query.js
  services/example-website-lfw/config/leaders.js
  services/example-website-lfw/server/components/blocks/leaders/contextual.marko
  services/example-website-lfw/server/components/blocks/leaders/home-page.marko
  services/example-website-lfw/server/styles/index.scss
Labels: 📦 package: leaders-program, 📦 package: marko-web-leaders

#388 Add support for application context
  packages/marko-web-identity-x/browser/comments/stream.vue
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/comment-stream.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/routes/login.js
Labels: 📦 package: marko-web-identity-x
