Repository base-cms/base-cms, pull requests merged in 2020-12, with the labels that each got.

#500 Append template name to ad unit
  packages/marko-web-gam/config.js
Labels: 📦 package: marko-web-gam

#499 Add console error logging for un-renderable errors
  packages/marko-web/express/error-handlers.js
  packages/marko-web/start-server.js
Labels: enhancement, 📦 package: marko-web

#502 Add taxonomy input filter to `allPublishedContent`
  packages/web-common/src/block-loaders/all-published-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: web-common

#503 Ensure client-side date matches server-side timezone
  packages/marko-newsletters/admin/components/select-day.marko
  packages/marko-newsletters/admin/templates/index.marko
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/utils/map-templates.js
Labels: bug, 📦 package: marko-newsletters

#505 Display link type oembeds as iframes
  packages/marko-web/browser/components/oembed.vue
Labels: 📦 package: marko-web

#506 Add support for (optional) custom comment streams
  packages/marko-web-identity-x/browser/index.js
Labels: 📦 package: marko-web-identity-x
