Repository base-cms/base-cms, pull requests merged in 2020-08, with the labels that each got.

#451 Add support for external links on all content
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#454 Do not include ReCaptcha token in inquiry payload
  packages/marko-web-inquiry/routers/submit.js
Labels: 📦 package: marko-web-inquiry

#452 Add `Content.customAttribute` field
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#458 Update bcrypt & new relic dependencies
  services/algolia-sync/package.json
  services/example-exports-lfw/package.json
  services/example-newsletters-ien/package.json
  services/example-website-iw/package.json
  services/example-website-lfw/package.json
  services/google-data-api/package.json
  services/graphql-server/package.json
  services/hooks/package.json
  services/oembed/package.json
  services/omail-link-processor/package.json
  services/rss/package.json
  services/sitemaps/package.json
  yarn.lock
Labels: dependencies, security

#457 Use root image width/height when calculating rectangle
  services/graphql-server/src/graphql/definitions/platform/asset.js
  services/graphql-server/src/graphql/utils/get-image-dimensions.js
Labels: ⚙️ service: graphql-server

#460 Optionally disable `linkUrl` in `siteContext`; add custom redirectTo/path generators to `withContent`
  packages/canonical-path/src/platform/content.js
  packages/marko-web/middleware/with-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: canonical-path, 📦 package: marko-web
