Repository base-cms/base-cms, pull requests merged in 2020-01, with the labels that each got.

#295 Ensure `enableRmi` projection is included within `inquiry-emails` query
  services/graphql-server/src/graphql/utils/inquiry-emails.js
Labels: ⚙️ service: graphql-server

#296 Published content query builder
  packages/marko-web/middleware/with-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/query-builders/index.js
  services/graphql-server/src/graphql/query-builders/published-content.js
Labels: ⚙️ service: graphql-server, 📦 package: marko-web

#297 Use timestamp instead of date for `since` value
  packages/marko-web/middleware/with-content.js
Labels: 📦 package: marko-web

#298 Bump handlebars to 4.6.0
  packages/web-cli/package.json
  yarn.lock
Labels: dependencies, 📦 package: web-cli

#299 Ensure magazine active issues query uses status
  services/graphql-server/src/graphql/definitions/magazine/issue.js
Labels: ⚙️ service: graphql-server

#300 Upgrade security related dependencies
  package.json
  packages/leaders-program/package.json
  packages/marko-compiler/package.json
  packages/marko-core/package.json
  packages/marko-newsletters/package.json
  packages/marko-web/package.json
  packages/web-cli/package.json
  yarn.lock
Labels: dependencies, 📦 package: leaders-program, 📦 package: marko-core, 📦 package: marko-newsletters, 📦 package: marko-web, 📦 package: web-cli

#302 Update leaders view-more link to be external
  packages/leaders-program/src/components/card/blocks/view-more.vue
  packages/leaders-program/src/components/card/index.vue
  packages/leaders-program/src/graphql/queries/content-for-section.js
Labels: 📦 package: leaders-program

#304 Add mutation to set company youtube data
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#306 Create dependency-tool package
  packages/dependency-tool/README.md
  packages/dependency-tool/bin/cli.js
  packages/dependency-tool/package.json
  packages/dependency-tool/src/commands/index.js
  packages/dependency-tool/src/commands/upgrade/dep-types.js
  packages/dependency-tool/src/commands/upgrade/extract-deps.js
  packages/dependency-tool/src/commands/upgrade/index.js
  packages/dependency-tool/src/commands/upgrade/load-latest-versions.js
  packages/dependency-tool/src/commands/upgrade/load-package.js
  packages/dependency-tool/src/commands/upgrade/load-version-info.js
  packages/dependency-tool/src/commands/upgrade/load-workspace-dirs.js
  packages/dependency-tool/src/commands/upgrade/save-package.js
  packages/dependency-tool/src/commands/upgrade/update-package.js
  packages/dependency-tool/src/index.js
  packages/dependency-tool/src/utils/get-cwd.js
  packages/dependency-tool/src/utils/log-command.js
  packages/dependency-tool/src/utils/log-error.js
  packages/dependency-tool/src/utils/print-and-exit.js
Labels: 📦 package: dependency-tool

#307 Add screen change events
  packages/marko-web-gtm/browser/track-bus-event.vue
  packages/marko-web-gtm/components/marko.json
  packages/marko-web/browser/components/index.js
  packages/marko-web/browser/components/trigger-screen-change-event.vue
  services/example-website-lfw/config/site.js
  services/example-website-lfw/server/components/document.marko
Labels: 📦 package: marko-web, 📦 package: marko-web-gtm

#309 Add active status check to page content type
  services/graphql-server/src/graphql/definitions/platform/content/types/page.js
Labels: ⚙️ service: graphql-server

#308 Update reveal ad component
  packages/marko-web-reveal-ad/browser/listener.vue
Labels: 📦 package: marko-web-reveal-ad

#311 Unify CLI utilities
  packages/cli-utils/README.md
  packages/cli-utils/clear.js
  packages/cli-utils/filesystem.js
  packages/cli-utils/get-cwd.js
  packages/cli-utils/log-command.js
  packages/cli-utils/log-error.js
  packages/cli-utils/package.json
  packages/cli-utils/print-and-exit.js
  packages/cli-utils/task-callback.js
  packages/dependency-tool/bin/cli.js
  packages/dependency-tool/package.json
  packages/dependency-tool/src/commands/upgrade/index.js
  packages/newsletter-cli/package.json
  packages/newsletter-cli/src/commands/dev.js
  packages/newsletter-cli/src/commands/lint.js
  packages/newsletter-cli/src/gulp/lint.js
  packages/newsletter-cli/src/utils/get-cwd.js
  packages/newsletter-cli/src/utils/log-command.js
  packages/newsletter-cli/src/utils/log-error.js
  packages/newsletter-cli/src/utils/print-and-exit.js
  packages/web-cli/package.json
  packages/web-cli/src/commands/build.js
  packages/web-cli/src/commands/create.js
  packages/web-cli/src/commands/dev.js
  packages/web-cli/src/commands/lint.js
  packages/web-cli/src/generator/index.js
  packages/web-cli/src/gulp/css.js
  packages/web-cli/src/gulp/js.js
  packages/web-cli/src/gulp/lint-js.js
  packages/web-cli/src/gulp/lint-sass.js
  packages/web-cli/src/gulp/manifest.js
  packages/web-cli/src/utils/get-cwd.js
  packages/web-cli/src/utils/log-command.js
  packages/web-cli/src/utils/log-error.js
  packages/web-cli/src/utils/print-and-exit.js
  packages/web-cli/src/utils/task-callback.js
Labels: 📦 package: cli-utils, 📦 package: dependency-tool, 📦 package: newsletter-cli, 📦 package: web-cli

#312 Set sequence on newsletter schedule create
  services/graphql-server/src/graphql/definitions/email/schedule.js
  services/graphql-server/src/graphql/resolvers/email/schedule.js
Labels: ⚙️ service: graphql-server

#313 Extract imported images via file loader
  packages/web-cli/package.json
  packages/web-cli/src/gulp/js.js
  yarn.lock
Labels: 📦 package: web-cli

#315 Add `data-image-id` attribute to page images
  packages/marko-web/components/page/image.marko
  packages/marko-web/utils/embedded-media/image.js
Labels: 📦 package: marko-web

#317 Capitalize code names and add PR labels
  packages/github-release-notes/src/between.js
  packages/github-release-notes/src/codename.js
Labels: 📦 package: github-release-notes

#316 Create content audio element component
  packages/marko-web/components/element/audio.marko
  packages/marko-web/components/element/content/audio.marko
  packages/marko-web/components/element/content/marko.json
  packages/marko-web/components/element/marko.json
  packages/marko-web/components/element/obj-audio.marko
Labels: 📦 package: marko-web

#318 Add webpack config callback support; expose full version of jQuery
  packages/marko-web/browser/jquery-full.js
  packages/web-cli/src/gulp/js.js
Labels: 📦 package: marko-web, 📦 package: web-cli

#319 Add `ContentCompany.links` field
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/definitions/platform/entity.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#320 Update oEmbed browser component to handle scripts
  packages/marko-web/browser/components/oembed.vue
Labels: 📦 package: marko-web
