Repository base-cms/base-cms, pull requests merged in 2020-06, with the labels that each got.

#419 Add tauron to service definitions
  services/hooks/src/services.js
Labels: ⚙️ service: hooks

#423 Support multi-line comments
  packages/marko-web-identity-x/browser/comments/post.vue
Labels: 📦 package: marko-web-identity-x

#424 Add Latest Comments header
  packages/marko-web-identity-x/browser/comments/stream.vue
Labels: 📦 package: marko-web-identity-x

#428 Add ability to disable view all companies link
  packages/leaders-program/src/components/leaders.vue
Labels: 📦 package: leaders-program

#429 Add button selector and click event listener
  packages/marko-web-photoswipe/browser/index.vue
  packages/marko-web-photoswipe/components/marko.json
Labels: 📦 package: marko-web-photoswipe

#430 Add Flipboard icon
  packages/marko-web-icons/browser/flipboard.vue
  packages/marko-web-icons/scss/_variables.scss
  packages/marko-web-icons/svg/flipboard.svg
Labels: 📦 package: marko-web-icons

#431 Return canonical URL when directly set on content
  services/graphql-server/src/graphql/definitions/platform/content/interfaces/content.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#432 Use updated or start date as published date
  packages/marko-web-native-x/utils/convert-ad-to-content.js
Labels: 📦 package: marko-web-native-x

#434 Correct layout issues with single node
  packages/marko-web/scss/node-list.scss
Labels: 📦 package: marko-web

#435 Add support for customizing inquiry email subject lines
  packages/marko-web-inquiry/routers/submit.js
  packages/marko-web-inquiry/template-builders/confirmation-builder.js
  packages/marko-web-inquiry/template-builders/notification-builder.js
Labels: 📦 package: marko-web-inquiry

#436 Properly pass modifiers to page from load more
  packages/marko-web/components/load-more/index.marko
Labels: 📦 package: marko-web

#437 Add support for lazy loading
  packages/marko-web-gam/components/enable.marko
  packages/marko-web-gam/components/marko.json
  packages/marko-web-gam/utils/build-lazy-load.js
Labels: 📦 package: marko-web-gam
