Repository base-cms/base-cms, pull requests merged in 2020-07, with the labels that each got.

#438 Add Reprints, Renewal, and E-Inquiry buttons
  packages/marko-web-theme-default/components/blocks/magazine-publication-card/fragments/latest-issue.js
  packages/marko-web-theme-default/components/magazine/publication-buttons.marko
  packages/marko-web-theme-default/scss/components/_magazine-publication-buttons.scss
  packages/marko-web/components/element/magazine-publication/einquiry-url.marko
  packages/marko-web/components/element/magazine-publication/marko.json
  packages/marko-web/components/element/magazine-publication/renewal-url.marko
  packages/marko-web/components/element/magazine-publication/reprints-url.marko
Labels: 📦 package: marko-web, 📦 package: marko-web-theme-default

#439 Add `withSite` and `siteId` support to `all-company-content` query
  packages/web-common/src/block-loaders/all-company-content.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: web-common

#442 Add isArray check for relatedSectionIds in query builder
  services/graphql-server/src/graphql/query-builders/website-sections.js
Labels: bug, ⚙️ service: graphql-server

#443 Add native Imgix cropping support to image assets
  packages/image/src/build-imgix-url.js
  packages/image/src/crop-rectangle.js
  packages/image/src/index.js
  services/graphql-server/package.json
  services/graphql-server/src/graphql/definitions/platform/asset.js
  services/graphql-server/src/graphql/resolvers/platform/asset.js
  services/graphql-server/src/graphql/utils/get-image-dimensions.js
Labels: ⚙️ service: graphql-server, 📦 package: image

#444 Update hook service definitions
  services/hooks/src/basedb/index.js
  services/hooks/src/basedb/leonis.js
  services/hooks/src/env.js
  services/hooks/src/services.js
Labels: ⚙️ service: hooks

#445 Filter sensitive info from logged MongoDB urls
  docker-compose.yml
  packages/db/package.json
  packages/db/src/utils/filter-dsn.js
  packages/db/src/utils/index.js
  services/google-data-api/package.json
  services/google-data-api/src/mongodb.js
  services/graphql-server/src/services.js
  services/hooks/src/services.js
Labels: security, ⚙️ service: google-data-api, ⚙️ service: graphql-server, ⚙️ service: hooks, 📦 package: db

#440 Create Algolia synchronization service
  .travis.yml
  services/algolia-sync/Dockerfile
  services/algolia-sync/README.md
  services/algolia-sync/newrelic.js
  services/algolia-sync/package.json
  services/algolia-sync/src/components/algolia/helpers.js
  services/algolia-sync/src/components/algolia/message-sync.js
  services/algolia-sync/src/components/algolia/site-sync.js
  services/algolia-sync/src/components/aws-sqs/config.js
  services/algolia-sync/src/components/aws-sqs/sqs.js
  services/algolia-sync/src/components/graphql/create-client.js
  services/algolia-sync/src/components/graphql/query.js
  services/algolia-sync/src/env.js
  services/algolia-sync/src/index.js
  yarn.lock
Labels: ⚙️ service: algolia-sync

#447 Allow Radix urls to be configurable
  docker-compose.yml
  packages/marko-web-inquiry/browser/form-mixin.js
  packages/marko-web-radix/browser/identity-detector.vue
  packages/marko-web-radix/browser/inquiry-listener.vue
  packages/marko-web-radix/browser/send-request.js
  packages/marko-web-radix/browser/url.js
  packages/marko-web-radix/components/marko.json
  services/example-website-lfw/config/site.js
  services/example-website-lfw/server/components/document.marko
Labels: 📦 package: marko-web-inquiry, 📦 package: marko-web-radix

#393 Use Yargs default option
  packages/dependency-tool/bin/cli.js
  packages/dependency-tool/package.json
  packages/dependency-tool/src/commands/index.js
  packages/dependency-tool/src/index.js
Labels: enhancement, 📦 package: dependency-tool
