Repository base-cms/base-cms, pull requests merged in 2020-02, with the labels that each got.

#314 Initial export framework implementation
  docker-compose.yml
  packages/export-cli/bin/cli.js
  packages/export-cli/package.json
  packages/export-cli/src/commands/dev.js
  packages/export-cli/src/commands/index.js
  packages/export-cli/src/commands/lint.js
  packages/export-cli/src/gulp/lint.js
  packages/export-cli/src/gulp/serve.js
  packages/export-cli/src/gulp/server.js
  packages/export-cli/src/index.js
  packages/export-framework/.eslintignore
  packages/export-framework/.eslintrc.js
  packages/export-framework/README.md
  packages/export-framework/admin/components/document.marko
  packages/export-framework/admin/components/export.marko
  packages/export-framework/admin/components/styles.marko
  packages/export-framework/admin/index.js
  packages/export-framework/admin/routes.js
  packages/export-framework/admin/templates/index.marko
  packages/export-framework/config/abstract-config.js
  packages/export-framework/config/core.js
  packages/export-framework/config/custom.js
  packages/export-framework/express/apollo.js
  packages/export-framework/express/index.js
  packages/export-framework/express/output-headers.js
  packages/export-framework/express/template-router.js
  packages/export-framework/index.js
  packages/export-framework/package.json
  packages/export-framework/start-server.js
  packages/export-framework/utils/load-exports.js
  packages/export-framework/utils/website-factory.js
  services/example-exports-lfw/.eslintrc.js
  services/example-exports-lfw/config/core.js
  services/example-exports-lfw/config/custom.js
  services/example-exports-lfw/exports/core/magazines.json.js
  services/example-exports-lfw/exports/core/websites.csv.js
  services/example-exports-lfw/exports/core/websites.xml.js
  services/example-exports-lfw/exports/site/www.laserfocusworld.com/2020-print-directory.txt.js
  services/example-exports-lfw/index.js
  services/example-exports-lfw/newrelic.js
  services/example-exports-lfw/package.json
Labels: 📦 package: export-cli, 📦 package: export-framework

#321 Throw warning when query component is not found
  packages/marko-core/components/queries/index.marko
Labels: 📦 package: marko-core

#323 Create photoswipe plugin
  packages/marko-web-photoswipe/.eslintignore
  packages/marko-web-photoswipe/.eslintrc.js
  packages/marko-web-photoswipe/README.md
  packages/marko-web-photoswipe/browser/.eslintrc.js
  packages/marko-web-photoswipe/browser/button.vue
  packages/marko-web-photoswipe/browser/buttons/close.vue
  packages/marko-web-photoswipe/browser/buttons/fullscreen.vue
  packages/marko-web-photoswipe/browser/buttons/index.vue
  packages/marko-web-photoswipe/browser/buttons/next.vue
  packages/marko-web-photoswipe/browser/buttons/previous.vue
  packages/marko-web-photoswipe/browser/buttons/share.vue
  packages/marko-web-photoswipe/browser/buttons/zoom.vue
  packages/marko-web-photoswipe/browser/element.vue
  packages/marko-web-photoswipe/browser/index.js
  packages/marko-web-photoswipe/browser/index.vue
  packages/marko-web-photoswipe/browser/item.vue
  packages/marko-web-photoswipe/components/images.marko
  packages/marko-web-photoswipe/components/marko.json
  packages/marko-web-photoswipe/components/photoswipe.marko
  packages/marko-web-photoswipe/marko.json
  packages/marko-web-photoswipe/package.json
  packages/marko-web-photoswipe/scss/main.scss
  services/example-website-lfw/browser/index.js
  services/example-website-lfw/package.json
  services/example-website-lfw/server/api/fragments/content-page.js
  services/example-website-lfw/server/styles/index.scss
  services/example-website-lfw/server/templates/content/index.marko
  yarn.lock
Labels: 📦 package: marko-web-photoswipe

#326 Display release URL when running between command
  packages/github-release-notes/src/between.js
Labels: 📦 package: github-release-notes

#327 Add installation/usage instructions to readme
  packages/marko-web-reveal-ad/README.md
Labels: 📦 package: marko-web-reveal-ad

#328 Only clean Marko response when chunk is a string
  packages/marko-core/middleware/clean-marko-response.js
Labels: 📦 package: marko-core

#329 Add content alias redirect support
  packages/marko-web/express/error-handlers.js
  packages/marko-web/express/find-content-alias.js
  packages/marko-web/middleware/with-content.js
  packages/marko-web/utils/build-content-input.js
  services/graphql-server/src/graphql/definitions/platform/content/index.js
Labels: ⚙️ service: graphql-server, 📦 package: marko-web

#331 Update `ContentCompany.links` field
  services/graphql-server/src/graphql/definitions/platform/content/types/company.js
  services/graphql-server/src/graphql/definitions/platform/entity.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#336 Add support for custom delivery URIs in config
  packages/marko-newsletters-email-x/config.js
Labels: 📦 package: marko-newsletters-email-x

#337 Add `sectionIds` parameter to leaders component
  packages/leaders-program/src/components/leaders.vue
  packages/leaders-program/src/graphql/queries/sections-from-ids.js
Labels: 📦 package: leaders-program

#332 Utilize company product URL in Leaders components
  packages/leaders-program/src/components/card/index.vue
  packages/leaders-program/src/graphql/queries/content-for-section.js
Labels: 📦 package: leaders-program

#340 Allow Wufoo forms to display without a target
  packages/marko-web-theme-default/components/content/download/index.marko
  packages/marko-web-theme-default/components/content/download/wufoo.marko
  packages/marko-web/browser/components/gated-download/wufoo.vue
Labels: 📦 package: marko-web, 📦 package: marko-web-theme-default

#341 Ensure fields are only overwritten when not set
  packages/marko-web-identity-x/browser/form.vue
  packages/marko-web-identity-x/routes/login.js
Labels: 📦 package: marko-web-identity-x

#342 Add class to body when reveal ad is present
  packages/marko-web-reveal-ad/browser/listener.vue
Labels: 📦 package: marko-web-reveal-ad

#343 Add custom context support to website section pages
  packages/marko-web/middleware/with-website-section.js
Labels: 📦 package: marko-web

#344 Add support for custom print URL
  packages/marko-web-social-sharing/browser/share-button.vue
  packages/marko-web-social-sharing/browser/social-sharing.vue
  packages/marko-web-social-sharing/components/marko.json
  packages/marko-web-social-sharing/components/social-sharing.marko
Labels: 📦 package: marko-web-social-sharing

#347 Rework IdentityX registration / login / profile flow
  packages/marko-web-identity-x/README.md
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/api/queries/get-active-context.js
  packages/marko-web-identity-x/api/queries/get-active-user.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/form.vue
  packages/marko-web-identity-x/browser/form/fields/country.vue
  packages/marko-web-identity-x/browser/form/fields/email.vue
  packages/marko-web-identity-x/browser/form/fields/family-name.vue
  packages/marko-web-identity-x/browser/form/fields/given-name.vue
  packages/marko-web-identity-x/browser/form/fields/organization-title.vue
  packages/marko-web-identity-x/browser/form/fields/organization.vue
  packages/marko-web-identity-x/browser/form/fields/postal-code.vue
  packages/marko-web-identity-x/browser/form/fields/region.vue
  packages/marko-web-identity-x/browser/index.js
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/access.marko
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-login.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/components/form-register.marko
  packages/marko-web-identity-x/components/marko.json
  packages/marko-web-identity-x/config.js
  packages/marko-web-identity-x/middleware.js
  packages/marko-web-identity-x/package.json
  packages/marko-web-identity-x/routes/authenticate.js
  packages/marko-web-identity-x/routes/index.js
  packages/marko-web-identity-x/routes/login.js
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/service.js
  packages/marko-web-identity-x/utils/create-client.js
  packages/marko-web-theme-default/scss/bootstrap/_components.scss
  services/example-website-lfw/browser/index.js
  services/example-website-lfw/config/identity-x.js
  services/example-website-lfw/package.json
  services/example-website-lfw/server/routes/index.js
  services/example-website-lfw/server/routes/user.js
  services/example-website-lfw/server/templates/content/index.marko
  services/example-website-lfw/server/templates/user/authenticate.marko
  services/example-website-lfw/server/templates/user/login.marko
  services/example-website-lfw/server/templates/user/logout.marko
  services/example-website-lfw/server/templates/user/profile.marko
  services/example-website-lfw/server/templates/user/register.marko
Labels: 📦 package: marko-web-identity-x

#348 Fix GraphQL URI and update sending email address
  packages/marko-web-identity-x/browser/login.vue
  packages/marko-web-identity-x/utils/create-client.js
  services/example-website-lfw/server/templates/content/index.marko
Labels: 📦 package: marko-web-identity-x

#349 Ensure node image and link attrs are merged
  packages/marko-web/components/node/image-inner-wrapper.marko
Labels: 📦 package: marko-web

#350 Service boot enhancements
  docker-compose.yml
  gulpfile.js
  services/graphql-server/src/env.js
  services/graphql-server/src/index.js
  services/graphql-server/src/services.js
  services/oembed/src/env.js
  services/oembed/src/index.js
  services/rss/src/env.js
  services/rss/src/index.js
  services/sitemaps/src/env.js
  services/sitemaps/src/index.js
Labels: ⚙️ service: graphql-server, ⚙️ service: oembed, ⚙️ service: rss, ⚙️ service: sitemaps

#345 Preserve query string params on redirect
  packages/marko-web/express/error-handlers.js
  packages/marko-web/middleware/with-content.js
  packages/marko-web/middleware/with-dynamic-page.js
  packages/marko-web/middleware/with-website-section.js
  packages/marko-web/utils/apply-query-params.js
Labels: 📦 package: marko-web

#334 Properly handle `isLogo` images
  packages/marko-web-photoswipe/components/images.marko
Labels: 📦 package: marko-web-photoswipe

#335 Add support for "pretty-print" of HTML source
  docker-compose.yml
  packages/marko-core/middleware/clean-marko-response.js
  packages/marko-core/utils/clean-marko-chunk.js
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/package.json
  yarn.lock
Labels: 📦 package: marko-newsletters

#351 Add beforeShutdown hook and timeout env vars
  packages/marko-newsletters/start-server.js
Labels: 📦 package: marko-web

#352 Add beforeShutdown hook and timeout env vars
  packages/marko-web/start-server.js
Labels: 📦 package: marko-web

#353 Add env var to force using the request url
  packages/marko-web-gtm/context/content.js
  packages/marko-web-gtm/context/dynamic-page.js
  packages/marko-web-gtm/context/magazine-issue.js
  packages/marko-web-gtm/context/magazine-publication.js
  packages/marko-web-gtm/context/website-section.js
Labels: 📦 package: marko-web-gtm

#354 Create micro JSON server with terminus wrapper
  docker-compose.yml
  packages/micro/package.json
  packages/micro/src/service/index.js
  packages/micro/src/service/json-server.js
  packages/micro/src/utils/is-function.js
  services/google-data-api/Dockerfile
  services/google-data-api/gulpfile.js
  services/google-data-api/src/env.js
  services/google-data-api/src/index.js
Labels: ⚙️ service: google-data-api, 📦 package: micro

#355 Add ping method and service name to JSON client
  packages/micro/src/client/json-client.js
Labels: 📦 package: micro

#356 Send canonical path and query string in context
  packages/marko-web-gtm/context/content.js
  packages/marko-web-gtm/context/default.js
  packages/marko-web-gtm/context/dynamic-page.js
  packages/marko-web-gtm/context/magazine-issue.js
  packages/marko-web-gtm/context/magazine-publication.js
  packages/marko-web-gtm/context/website-section.js
  packages/marko-web-gtm/utils/build-query-string.js
Labels: 📦 package: marko-web-gtm

#357 Catch error if onError handler also fails
  packages/micro/src/service/json-errors.js
Labels: 📦 package: micro

#358 Return undefined instead of null in error handler
  packages/micro/src/service/json-errors.js
Labels: 📦 package: micro

#359 Add `WebsiteSection.coverImage` field
  services/graphql-server/src/graphql/definitions/website/section.js
Labels: ⚙️ service: graphql-server

#360 Client error and server error response customization
  packages/micro/src/client/json-client.js
  packages/micro/src/service/json-errors.js
  packages/micro/src/service/json-server.js
Labels: 📦 package: micro

#361 Format GraphQL errors from error array (when present)
  packages/marko-web-identity-x/utils/json-error-handler.js
Labels: 📦 package: marko-web-native-x

#362 Return section with scheduled content queries
  packages/web-common/src/block-loaders/website-optioned-content.js
  packages/web-common/src/block-loaders/website-scheduled-content.js
  packages/web-common/src/gql/query-factories/block-website-scheduled-content.js
Labels: 📦 package: web-common

#363 Add GraphQL endpoints for modifying redirects
  services/graphql-server/src/graphql/definitions/website/index.js
  services/graphql-server/src/graphql/definitions/website/redirect.js
  services/graphql-server/src/graphql/definitions/website/site.js
  services/graphql-server/src/graphql/resolvers/website/index.js
  services/graphql-server/src/graphql/resolvers/website/redirect.js
  services/graphql-server/src/graphql/resolvers/website/site.js
Labels: ⚙️ service: graphql-server

#364 Only look up users that have a password
  services/graphql-server/src/user/user-service.js
Labels: bug, ⚙️ service: graphql-server
