Repository base-cms/base-cms, pull requests merged in 2020-09, with the labels that each got.

#461 Lock marko version to ~4.20.0 (currently resolves to 4.20.2)
  packages/export-framework/package.json
  packages/marko-compiler/package.json
  packages/marko-core/package.json
  packages/marko-newsletters/package.json
  packages/marko-web/package.json
  yarn.lock
Labels: 📦 package: export-framework, 📦 package: marko-compiler, 📦 package: marko-core, 📦 package: marko-newsletters, 📦 package: marko-web

#462 Strip `$MC` marko javascript from body chunks
  packages/marko-core/utils/clean-marko-chunk.js
Labels: 📦 package: marko-core

#463 Add Authorable to Podcasts
  services/graphql-server/src/graphql/definitions/platform/content/types/podcast.js
Labels: ⚙️ service: graphql-server

#464 Update types to include Authorable podcasts
  packages/graphql-fragment-types/types.json
Labels: 📦 package: graphql-fragment-types

#468 Create `<marko-newsletters-email-x-data>` component
  packages/base4-rest-api/package.json
  packages/embedly/package.json
  packages/export-framework/package.json
  packages/express-apollo/package.json
  packages/graphql-fragment-types/package.json
  packages/marko-newsletters-email-x/components/data.marko
  packages/marko-newsletters-email-x/components/display.marko
  packages/marko-newsletters-email-x/components/marko.json
  packages/marko-newsletters-email-x/package.json
  packages/marko-newsletters-email-x/utils/build-query.js
  packages/marko-newsletters-email-x/utils/fetch-data.js
  packages/marko-newsletters/package.json
  packages/marko-web-identity-x/package.json
  packages/marko-web-inquiry/package.json
  packages/marko-web-native-x/package.json
  packages/micro/package.json
  packages/newsletter-deployment-tool/package.json
  packages/website-deployment-tool/package.json
  services/algolia-sync/package.json
  services/example-newsletters-ien/config/email-x.js
  services/example-newsletters-ien/templates/ien-today.marko
  services/google-data-api/package.json
  services/graphql-server/package.json
  services/omail-link-processor/package.json
  yarn.lock
Labels: 📦 package: marko-newsletters-email-x

#470 Create `marko-newsletters-omail` package and DPM comments component
  packages/marko-newsletters-omail/components/dpm.marko
  packages/marko-newsletters-omail/components/marko.json
  packages/marko-newsletters-omail/marko.json
  packages/marko-newsletters-omail/package.json
Labels: 📦 package: marko-newsletters-omail

#465 Create EmailThemeAlphaConfig type
  services/graphql-server/src/dataloaders/index.js
  services/graphql-server/src/graphql/definitions/configuration/email.js
  services/graphql-server/src/graphql/definitions/configuration/index.js
  services/graphql-server/src/graphql/definitions/email/newsletter.js
  services/graphql-server/src/graphql/utils/criteria-for.js
Labels: ⚙️ service: graphql-server

#472 Add link `before` and `after` render slots
  packages/marko-core/components/elements/link.marko
  packages/marko-core/components/elements/marko.json
Labels: 📦 package: marko-core

#475 Update list positioning
  packages/marko-web-theme-default/scss/_mixins.scss
Labels: 📦 package: marko-web-theme-default

#476 Support passing custom newsletter query fragment to template router
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/start-server.js
  packages/marko-newsletters/utils/load-templates.js
Labels: 📦 package: marko-newsletters

#477 Add `subscribe` to EmailThemeAlphaConfig
  services/graphql-server/src/graphql/definitions/configuration/email.js
Labels: ⚙️ service: graphql-server

#473 Allow apollo engine and graphql options to be envd
  docker-compose.yml
  services/graphql-server/src/env.js
  services/graphql-server/src/routes/graphql.js
Labels: ⚙️ service: graphql-server

#480 Show left-col below right-col on mobile screens in Lazarus Theme
  packages/marko-web-theme-default/skins/lazarus/components/_page-grid.scss
Labels: 📦 package: marko-web-theme-default

#478 Support returning advertiser data with EmailX requests
  packages/marko-newsletters-email-x/components/data.marko
  packages/marko-newsletters-email-x/components/marko.json
  packages/marko-newsletters-email-x/utils/build-query.js
  packages/marko-newsletters-email-x/utils/fetch-data.js
Labels: enhancement, 📦 package: marko-newsletters-email-x

#479 Dynamically update href with social share button props
  packages/marko-web-social-sharing/browser/share-button.vue
Labels: 📦 package: marko-web-social-sharing
