Repository base-cms/base-cms, pull requests merged in 2020-10, with the labels that each got.

#481 Pass `active` modifier to nav container `li`
  packages/marko-web-theme-default/components/site-navbar/item.marko
Labels: 📦 package: marko-web-theme-default

#482 Optionally control ad requests based on media queries
  packages/marko-web-gam/components/define-display-ad.marko
  packages/marko-web-gam/components/marko.json
Labels: 📦 package: marko-web-gam

#483 Add support for customizing the docker org
  packages/website-deployment-tool/src/commands/deploy/deploy.js
  packages/website-deployment-tool/src/commands/deploy/env.js
  packages/website-deployment-tool/src/commands/deploy/service.js
Labels: 📦 package: website-deployment-tool

#484 Allow customization of the newsletter docker org
  packages/newsletter-deployment-tool/src/commands/deploy/deploy.js
  packages/newsletter-deployment-tool/src/commands/deploy/env.js
Labels: 📦 package: newsletter-deployment-tool

#487 Fix syntax error for NR extension
  services/graphql-server/src/routes/graphql.js
Labels: bug, ⚙️ service: graphql-server

#489 Add after & since support to websiteScheduledContent query
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server

#490 Fix `ApolloNewrelicExtension` invocation
  services/graphql-server/src/routes/graphql.js
Labels: bug, ⚙️ service: graphql-server

#488 Added support to query graph for campaigns
  services/graphql-server/src/graphql/definitions/email/campaign.js
  services/graphql-server/src/graphql/resolvers/email/campaign.js
  services/graphql-server/src/graphql/resolvers/email/index.js
Labels: enhancement

#491 Read CDN hostname defaults from env
  docker-compose.yml
  services/graphql-server/src/env.js
  services/graphql-server/src/graphql/defaults.js
Labels: ⚙️ service: graphql-server

#492 Add GraphQL support for modifying promotions
  services/graphql-server/src/graphql/definitions/platform/content/types/promotion.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: enhancement, ⚙️ service: graphql-server
