Repository base-cms/base-cms, pull requests merged in 2020-04, with the labels that each got.

#391 Add `sequence` to `EmailNewsletterSortField`
  services/graphql-server/src/graphql/definitions/email/newsletter.js
Labels: ⚙️ service: graphql-server

#392 Ensure that non-scalar targeting values are kept
  packages/marko-web-gam/package.json
  packages/marko-web-gam/test/mocha.opts
  packages/marko-web-gam/test/utils/build-targeting.spec.js
  packages/marko-web-gam/utils/build-targeting.js
Labels: bug, 📦 package: marko-web-gam

#395 Support storing IP address with inquiry submission
  services/graphql-server/src/graphql/definitions/website/inquiry-submission.js
  services/graphql-server/src/graphql/resolvers/website/inquiry-submission.js
Labels: backports, ⚙️ service: graphql-server

#396 Support storing ip address with inquiry submission
  services/graphql-server/src/graphql/definitions/website/inquiry-submission.js
  services/graphql-server/src/graphql/resolvers/website/inquiry-submission.js
Labels: backports, ⚙️ service: graphql-server

#397 Identityx email consent
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/api/queries/get-active-context.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/form/fields/receive-email.vue
  packages/marko-web-identity-x/browser/form/fields/region.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/routes/profile.js
Labels: 📦 package: marko-web-identity-x

#398 Create Radix and Inquiry plugin packages
  docker-compose.yml
  packages/marko-web-inquiry/.eslintrc.js
  packages/marko-web-inquiry/browser/.eslintrc.js
  packages/marko-web-inquiry/browser/default-form.vue
  packages/marko-web-inquiry/browser/elements/label.vue
  packages/marko-web-inquiry/browser/fields/country.vue
  packages/marko-web-inquiry/browser/form-mixin.js
  packages/marko-web-inquiry/browser/index.js
  packages/marko-web-inquiry/components/form.marko
  packages/marko-web-inquiry/components/marko.json
  packages/marko-web-inquiry/default-fragment.js
  packages/marko-web-inquiry/env.js
  packages/marko-web-inquiry/index.js
  packages/marko-web-inquiry/json-error-handler.js
  packages/marko-web-inquiry/marko.json
  packages/marko-web-inquiry/package.json
  packages/marko-web-inquiry/routers/index.js
  packages/marko-web-inquiry/routers/submit.js
  packages/marko-web-inquiry/send-mail.js
  packages/marko-web-inquiry/template-builders/confirmation-builder.js
  packages/marko-web-inquiry/template-builders/index.js
  packages/marko-web-inquiry/template-builders/notification-builder.js
  packages/marko-web-inquiry/templates/confirmation.marko
  packages/marko-web-inquiry/templates/notification.marko
  packages/marko-web-inquiry/utils/store-inquiry.js
  packages/marko-web-radix/.eslintignore
  packages/marko-web-radix/.eslintrc.js
  packages/marko-web-radix/browser/.eslintrc.js
  packages/marko-web-radix/browser/identity-detector.vue
  packages/marko-web-radix/browser/index.js
  packages/marko-web-radix/browser/inquiry-listener.vue
  packages/marko-web-radix/browser/send-request.js
  packages/marko-web-radix/browser/url.js
  packages/marko-web-radix/components/identity-detector.marko
  packages/marko-web-radix/components/inquiry-listener.marko
  packages/marko-web-radix/components/marko.json
  packages/marko-web-radix/marko.json
  packages/marko-web-radix/package.json
  services/example-website-lfw/browser/index.js
  services/example-website-lfw/config/site.js
  services/example-website-lfw/package.json
  services/example-website-lfw/server/components/document.marko
  services/example-website-lfw/server/routes/index.js
  services/example-website-lfw/server/styles/index.scss
  services/example-website-lfw/server/styles/inquiry.scss
  services/example-website-lfw/server/templates/content/index.marko
  yarn.lock
Labels: 📦 package: marko-web-inquiry, 📦 package: marko-web-radix

#399 Pass nav item modifiers from config to component
  packages/marko-web-theme-default/components/site-navbar/items.marko
Labels: 📦 package: marko-web-theme-default

#400 v0.x Backport oEmbed Javascript detection
  packages/marko-web/browser/components/oembed.vue
Labels: backports, 📦 package: marko-web

#403 Add `withSite` support to AllAuthorContent query
  packages/web-common/src/block-loaders/all-author-content.js
  services/example-website-lfw/server/components/blocks/content-load-more.marko
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/resolvers/platform/content.js
Labels: ⚙️ service: graphql-server, 📦 package: web-common

#404 Display ad and observe mutations on DOMContentLoaded
  packages/marko-web-reveal-ad/browser/listener.vue
Labels: 📦 package: marko-web-reveal-ad

#406 Upgrade jquery to ^3.5.0
  packages/marko-web/package.json
  yarn.lock
Labels: dependencies, 📦 package: marko-web
