Repository base-cms/base-cms, pull requests merged in 2020-11, with the labels that each got.

#494 added server side validation for rmi payload
  packages/marko-web-inquiry/routers/submit.js
Labels: 📦 package: marko-web-inquiry

#495 Detect embeds when injecting ads and adjust accordingly
  packages/marko-web-gam/browser/inject-ads.vue
  packages/marko-web-gam/components/inject-ads.marko
  packages/marko-web-gam/components/marko.json
Labels: 📦 package: marko-web-gam

#496 Pass `publishedAfter` input to `all-published-content`
  packages/web-common/src/block-loaders/all-published-content.js
Labels: 📦 package: web-common

#497 Add latest link, past campaign list & `?date=latest-campaign` support
  docker-compose.yml
  packages/marko-newsletters/admin/components/select-day.marko
  packages/marko-newsletters/admin/templates/index.marko
  packages/marko-newsletters/express/template-router.js
  packages/marko-newsletters/utils/map-templates.js
  services/graphql-server/src/graphql/definitions/email/campaign.js
  services/graphql-server/src/graphql/definitions/email/newsletter.js
  services/graphql-server/src/graphql/ref-query-builders/email-newsletter-campaigns.js
  services/graphql-server/src/graphql/ref-query-builders/index.js
Labels: 📦 package: marko-newsletters

#498 Prevent inclusion of url params for direct share
  packages/marko-web-social-sharing/browser/share-button.vue
Labels: bug, 📦 package: marko-web-social-sharing
