Repository base-cms/base-cms, pull requests merged in 2020-05, with the labels that each got.

#407 IE11 node image fix
  packages/marko-web/components/node/image.marko
Labels: 📦 package: marko-web-theme-default

#408 Apply min-width to node image wrapper
  packages/marko-web/components/node/image-wrapper.marko
  packages/marko-web/components/node/image.marko
Labels: 📦 package: marko-web-theme-default

#409 Check correct image wrapper width variable
  packages/marko-web/components/node/image-wrapper.marko
Labels: 📦 package: marko-web

#410 Add blockquote, pullquote and drop-cap styling
  packages/marko-web-theme-default/scss/components/_page-contents.scss
Labels: 📦 package: marko-web-theme-default

#411 Support loading leadership sections by related section ids
  packages/leaders-program/src/components/leaders.vue
  packages/leaders-program/src/graphql/queries/content.js
  packages/leaders-program/src/graphql/queries/sections-from-content.js
  services/example-website-lfw/server/components/blocks/leaders/contextual.marko
  services/graphql-server/src/graphql/definitions/website/section.js
  services/graphql-server/src/graphql/query-builders/website-sections.js
Labels: ⚙️ service: graphql-server, 📦 package: leaders-program

#412 Increate site footer z-index
  packages/marko-web-theme-default/scss/components/_site-footer.scss
Labels: 📦 package: marko-web-theme-default

#413 Add support for regional consent policies
  packages/marko-web-identity-x/api/fragments/active-user.js
  packages/marko-web-identity-x/api/queries/get-active-context.js
  packages/marko-web-identity-x/browser/authenticate.vue
  packages/marko-web-identity-x/browser/form/fields/regional-policy.vue
  packages/marko-web-identity-x/browser/profile.vue
  packages/marko-web-identity-x/components/form-authenticate.marko
  packages/marko-web-identity-x/components/form-profile.marko
  packages/marko-web-identity-x/routes/profile.js
  packages/marko-web-identity-x/service.js
Labels: 📦 package: identity-x

#414 Add content IDs filter to allContent query
  services/graphql-server/src/graphql/definitions/platform/content/index.js
  services/graphql-server/src/graphql/query-builders/all-content.js
  services/graphql-server/src/graphql/query-builders/index.js
Labels: ⚙️ service: graphql-server

#415 Create Omail Link Processor service
  .travis.yml
  docker-compose.yml
  services/omail-link-processor/Dockerfile
  services/omail-link-processor/README.md
  services/omail-link-processor/gulpfile.js
  services/omail-link-processor/newrelic.js
  services/omail-link-processor/package.json
  services/omail-link-processor/src/app/index.js
  services/omail-link-processor/src/app/retrieve.js
  services/omail-link-processor/src/env.js
  services/omail-link-processor/src/index.js
  services/omail-link-processor/src/newrelic.js
  services/omail-link-processor/src/process-links/content-links.js
  services/omail-link-processor/src/process-links/emailx-ads.js
  services/omail-link-processor/src/process-links/extract-urls.js
  services/omail-link-processor/src/process-links/index.js
  services/omail-link-processor/src/utils/http-error.js
  yarn.lock
Labels: ⚙️ service: omail-link-processor
